*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^="a"]{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;   
}

a{
    padding-left: 6px;
    text-decoration: none;
    font-weight: bolder;
}

nav{
    position: fixed;
    z-index: 1;
    left: 85vw;
    top: 1vh;
}

img{
   width: 100%;
}



.col-100{
    height: 100vh;
    
}

.col-100.red{
    background-color: red;
}

.col-100.green{
    background-color: green;
}

.col-100.yellow{
    background-color: yellow;
}

[class^="img-box"] {
    position: relative;
    width: 30%;    
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);


}

[class^="img-box"] h1{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: yellow;
}

h1.greener{
    color: green;
}

