*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    position: fixed;
    z-index: 1;   
}





.col-100{
    height: 100vh;
    position: relative;
}

.col-100.red{
    background-color: red;
}

.col-100.green{
    background-color: green;
}

.col-100.yellow{
    background-color: yellow;
}